

  <!-- <div class="foot">
    <p>Made with ❤️ by The App Brewery</p>
  </div> -->
</div>
<footer>
  <p>Made with ❤️</p>
</footer>
<script src="https://kit.fontawesome.com/87390cb8ac.js" crossorigin="anonymous"></script>
</body>
</html>