<%- include('partials/headerLogin') %>
<form action="/users/login" method="POST">
    <div class="container">
      <h1>Login</h1>
      
      <hr>
    

      

      <label for="userName"><b>Username</b></label>
      <input type="text" placeholder="Username" name="userName" id="userName" ><br><br>
      <p><%=userName_error%></p><br><br>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" ><br><br>
      <p><%=password_error%></p><br><br>
  
      
      
  
      <button type="submit" class="loginbtn">Login</button>
    </div>
</form>
<%- include('partials/footer') %>