<%- include('partials/headerLogin') %>
<form action="/users/login" method="POST" onsubmit="return fun();">
  <div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Email" name="email" id="email"><br><br>
      <p><%=email_error%></p><br><br>
    </div>

    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Enter Password" name="psw" id="psw"><br><br>
      <p><%=password_error%></p>
      <br>
    </div>
    <button type="submit" class="btn">Login</button>
  </div>
</form>

<script>
  function fun(){
    var email = document.getElementById('email').value;
			var psw = document.getElementById('psw').value;
      var last = email.substring(email.length-4,email.length);
      var val=email.includes('@');
    if (val==true && last===".com")
    {} 
    else 
    {
        alert("Please enter a valid email!");
        return false;
    }
    if (psw.length>=6)
    {}
    else
    {
      alert("Minimum length of password is 6!");
      return false;
    }
    return true;
  }
</script>
<%- include('partials/footer') %>