<%- include('partials/headerWelcome') %>
<section class="background firstSection">
    <div class="box-main">
        <div class="firstHalf">
            <p class="text-big">Welcome to the Daily Jounal.</p><br>
            <p class="text-small">"I can’t think of any other profession that could have given me an opportunity to
                travel the world, learn from the wisdom of different cultures if this would not have been blogging."</p>
            <div class="buttons">
                <a href="/users/login"><button class="btn">To your Account</button></a>
                <a href="/users/register"><button class="btn">Write your First Blog</button></a>
            </div>
        </div>
        <div class="secondHalf">
            <img src="https://source.unsplash.com/200x200/?blog,personal" alt="image">
        </div>
    </div>
</section>
<%- include('partials/footer') %>