<%- include('partials/headerWelcome') %>
<section class="background firstSection">
    <div class="box-main">
        <div class="firstHalf">
            <p class="text-big">Welcome to the Daily Journal.</p><br>
            <p class="text-small">Its your expirence holder,<br>Keep it with you forever !!</p> <br>
            <div class="buttons">
                <a href="/users/login"><button class="btn">To your Account</button></a>
                <a href="/users/register"><button class="btn">Write your First Blog</button></a>
            </div>
        </div>
        <div class="secondHalf">
            <img src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=200&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=200" alt="image">
        </div>
    </div>
</section>
<%- include('partials/footer') %>