body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/p4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  font-family: 'Merienda One', cursive;
}

.container{
    min-height: calc(100vh-90px-60px) !important;
    /* height: 100vh; */
}
.wrap{
    max-width: 70%;
    min-width: 300px;
    border-radius: 20px;
    margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    box-sizing: border-box;
    padding: 10px 30px;
    color: #fff;
    margin-top: 100px;
    /* height: 100px; */
    transform: translateY(25%) !important;
    /* overflow-y: scroll; */
}
h2{
    text-align: center;
}

input[type=text],input[type=password]
{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.1);
    outline: none;
    border: none;
    border-bottom: 1px dotted #fff;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

button[type=submit]{
    width: 30%;
    margin-left: 35%;
    box-sizing: border-box;
    padding: 10px 0;
    outline: none;
    border: 2px solid #97d1ff;
    background: none;
    opacity: 0.7;
    border-radius: 8px;
    font-size: 20px;
    color: #97d1ff;
    font-weight: bold;
    transition: 0.3s ease-out;
}
button[type=submit]:hover{
    background:#97d1ff;
    color:white;
    font-weight: bolder !important;
    /* -webkit-text-stroke: 0.1px black; */
}

footer {
    position: absolute;
    bottom: 0;
    clear: both;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 0;
    width: 100%;
    height: 30px;
    background-color: #091535;
  }
  
  footer p{
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
  padding-top: 10px;
  /* font-size: large; */
  }

@media screen and (min-width:992px){
    .wrap{
        transform: translateY(-60px) !important;
        max-width:35%;
    }
}

@media screen and (min-width:730px){
    footer{
        /* position: absolute; */
        bottom: 0;
        clear: both;
    }
}