*{
    margin: 0;
    padding: 0;
    font-family: 'Merienda One', cursive;
}

/* body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/p4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

.background{
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.5)),url('../img/p5.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}
/* .background{
    background: rgba(0, 0, 0, 0.7) url('https://source.unsplash.com/1600x900/?blog,personal');
    background-size: cover;
    background-blend-mode: darken;
} */

.firstSection{
    height: 100vh;
}

.box-main{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text-big{
    font-size: 35px;
    text-align: center;
}

.text-small{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}

.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 70%;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    margin: auto;
}
/* footer {
    text-align: center;
    padding-bottom: 60px;
	width: 100%;
	height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
}

footer p{
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
    padding-top: 18px;
} */

footer {
    /* position: absolute; */
    bottom: 0;
    clear: both;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 3px;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,1);
  }
  
  footer p{
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
  padding-top: 10px;
  /* font-size: large; */
  }

.btn{
    padding: 8px 20px;
    margin: 8px 3px;
    border: 1px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    transition: 0.3s ease-out;
}

.btn:hover{
    background-color: white;
    color: black;
}
@media screen and (max-width: 990px){

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .text-small {
        text-align: center;
        font-size: 300%;
    }
    .text-big {
        text-align: center;
        font-size: 400%;
    }

}